body {
    background-color: #aeaeae;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.element {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px gray;
}

.table-bordered td, .table-bordered th, .table thead th {
    border: 1px solid black;
}

form {
    padding: 10px;
}

img {
    width: 20px;
    height: 20px;
}

.rm {
    width: 20px;
}

#viz {
    width: 100%;
    height: 300px;
    border: #000000 1px solid;
    border-radius: 5px;
}